<footer>
  <!-- Please don't remove this, keep my open source work credited :) -->
  <p class="credits theme-by text-muted">
    {{ i18n "poweredBy" . | safeHTML }}
    {{ with .Site.Params.commit }}&nbsp;&bull;&nbsp;[<a href="{{.}}{{ getenv "GIT_COMMIT_SHA" }}">{{ getenv "GIT_COMMIT_SHA_SHORT" }}</a>]{{ end }}
  </p>
</footer>

{{- partial "footer_custom.html" . }}
